package ${package}.${moduleName}.entity.vo;

import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import cn.hutool.core.date.DatePattern;
import org.springframework.format.annotation.DateTimeFormat;

import java.io.Serializable;
import java.time.LocalDateTime;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}VO
 *
 * @author ${author}
 */
@Schema(description =  "${comments}")
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
@Data
public class ${className}VO implements Serializable {

    private static final long SerialVersionUID = 1L;

    @Schema(description = "主键ID")
    private Long id;
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
    && $column.columnName != "tenant_id"
    && $column.columnName != "revision"
    && $column.columnName != "del_flag"
    && $column.columnName != "created_by"
    && $column.columnName != "updated_by"
    && $column.columnName != "remark"
    )

    @Schema(description = "$column.columnComment")
#if($column.columnName == "created_at" || $column.columnName == "updated_at")
    @DateTimeFormat(pattern = DatePattern.NORM_DATETIME_PATTERN)
    @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = DatePattern.NORM_DATETIME_PATTERN)
#end
    private $column.attrType $column.camelAttrName;
#end
#end

}
